.overlay-bg {
    position: fixed;
    inset: 0;
}

.categories-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.category-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $accent;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;

    .food-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .food-item {
            display: flex;
            gap: 1rem;
            width: 100%;

            .image-container {

                img {
                    width: 200px;
                    height: 100px;
                    object-fit: contain;
                    border-radius: .9rem;
                }
            }

            .title-container {
                display: flex;
                flex-direction: column;
                text-align: right;

                .main-title {
                    font-size: 1.4rem;
                    color: $accent;
                    font-weight: 900;
                }

                .secondary-title {
                    font-size: 1rem;
                }
            }

            .prices-container {
                display: flex;
                gap: .3rem;
                margin-right: auto;

                .price-item {
                    display: flex;
                    flex-direction: column;

                    .combo-title {
                        color: $accent;
                        text-transform: uppercase;
                        font-weight: 900;
                    }

                    .price {
                        height: max-content;
                        background-color: $accent;
                        border-radius: .6rem;
                        padding: .2rem 1rem;
                        font-size: 1.2rem;
                        color: white;

                        .currency {
                            margin-left: .2rem;
                            font-size: .7rem;
                        }
                    }

                    &:not(.is-combo) {
                        .combo-title {
                            visibility: hidden;
                        }
                    }
                }
            }

     
        }

    }

    .fattah-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .fattah-item, .fattah-item-2 {

            .info-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .title-container {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .main-title {
                        font-size: 1.7rem;
                        font-weight: bold;
                        color: white;
                    }

                    .secondary-title {
                        font-size: 1.2rem;
                        color: white;
                    }
                }
       
            }

            .prices-container {
                display: flex;

                .price-item {
                    display: flex;
                    flex-direction: column;
                    padding-inline: 1rem;

                    .size {
                        color: $accent;
                        font-size: 1.2rem;
                    }

                    .price {
                        text-align: center;
                        font-size: 1.7rem;
                        font-weight: 900;

                        .currency {
                            font-size: 1.2rem;
                        }
                    }
                }

                .price-item:not(:last-child) {
                    border-right: 1px solid black;
                }
            }     
        }


        .fattah-item {
            width: 80%;
            display: flex;
            gap: 1rem;
            line-height: 2rem;

           .image-container {

                img {
                    width: 100%;
                    max-height: 140px;
                    aspect-ratio: 16/9;
                    object-fit: contain;
                    border-radius: .9rem;
                }
            }

            .info-container {
                .title-container {
                    .main-title {
                        color: $accent;
                    }

                    .secondary-title {
                        color: $accent;
                    }
                }
            }
        }

        .fattah-item-2 {
            width: 80%;
            display: flex;
            line-height: 2rem;
 
            .info-container {
                width: max(50%, 400px);
                padding: 1.3rem;
                position: relative;
                background-color: $accent;
                border-radius: 2rem;

                .prices-container {
    
                    .price-item {

                        padding-inline: 1.4rem;
    
                        .size {
                            color: white;
                        }
    
                        .price {
                            color: white;
    
                            .currency {
                                font-size: 1.2rem;
                            }
                        }
                    }
    
                    .price-item:not(:last-child) {
                        border-color: white;
                    }
                } 
                            
                .image-container {
                    position: absolute;
                    top: 50%;
                    right: -45%;
                    transform: translateY(-50%);
    
                    img {
                        width: 100%;
                        max-height: 140px;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        border-radius: .9rem;
                    }
                }
            }

        }
    }
}

.side-items-list {
    width: 100%;

    .side-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .title-container {
            display: flex;
            
            > div {
                display: flex;
                flex-direction: column;
                text-align: right;
                padding-inline: 1rem;
                line-height: 2.1rem;
    
                .main-title {
                    font-weight: 900;
                    font-size: 1.3rem;
                }
    
                .secondary-title {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

            .seperator {
                margin-top: .05rem;
                font-size: 1.3rem;
            }
        }

        .price-container {

            .price {
                font-size: 1.6rem;
                font-weight: bolder;
            }

            .currency {
                font-size: 1rem;
                margin-inline: .3rem;
            }
        }

        .border {
            border-bottom: 1px solid black;
            flex: 1;
            margin-top: 1.8rem;
        }
    }
}

.drinks-list {
    width: 100%;
    display: flex;
    justify-content: center;

    .drink-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-inline: 1rem;
            flex: 1;
            line-height: 2.5rem;

            .title-container {
                display: flex;
                flex-direction: column;
                text-align: center;

                .main-title {
                    font-size: 2rem;
                }

                .secondary-title {
                    font-size: 1.3rem;
                }
            }

            .price-container {
                .price {
                    text-align: center;
                    font-size: 2.3rem;
                    font-weight: 900;
                    text-align: center;
                }

                .currency {
                    font-size: 1.2rem;
                    margin-left: .5rem;
                }
            }

        &:not(:last-child) {
            border-right: 1px solid black;
        }
    }
}


.text-accent {
    color: $accent;
}

.company-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -3%;

    .hotline {
        line-height: 3rem;
        text-align: center;

        h3 {
            font-size: 2rem;
            color: $accent;
        }
        
        span {
            font-size: 4rem;
            font-weight: bolder;
        }
    }

    .social-accounts {
        display: flex;
        flex-direction: column;
        align-items: center;

        > div {
            display: flex;
            align-items: center;
            gap: .35rem;

            svg {
                font-size: 1.6rem;
                color: $accent
            }
        }

        span {
            font-size: 1.1rem;
        }
    }

    .apps {
        display: flex;
        align-items: center;

        img {
            width: 200px;

            &.apple-store-badge {
                width: 165px;
            }
        }
        
    }

}





